#root{
    	margin:0;
        padding: 0;     
    	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;        
}
ul li{ list-style-type: none; margin:5px; width:80px; background-color:#faecbb;}
#menu{
    min-width: 10%;
	width:10%;
	float:left;
}

#menu a {  text-decoration: none; color:gray; }
#content{
    margin-left: 10%;
    width: 85%;
	color:#333333;
	font-size:small;     
    overflow: hidden; 
}